:root {
    --base: #242831;
    --brightness: 1;
    --contrast: 1;
    --blur: 0px;
    --grayscale: 0%;
    --opacity: 100%;
    --saturate: 2;
    --sepia: 0;
    --invert: 10%;
}

.wrapper {
    min-width: 100vw;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 5rem;
    /*background-color: #1A1D24;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 1.7rem;
    font-style: italic;
    text-align: center;
}

section {
    display: flex;
}

section .main {
    width: 60%;
    height: 100vh;
    padding-top: 1rem;
    /*background-color: #080D13;*/
}

.display-board {
    width: 100%;
    height: 30rem;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 70%;
    height: 70%;
    background-cover: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: brightness(var(--brightness)) contrast(var(--contrast)) blur(var(--blur)) grayscale(var(--grayscale)) opacity(var(--opacity)) saturate(var(--saturate)) sepia(var(--sepia)) invert(var(--invert));
}

section .filters {
    width: 40%;
}

.filters {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
}

#filter {
    padding: 1rem 0;
}

.search__box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__box input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #e4e4e4;
    font-size: 1rem;
    color: #e4e4e4;
    outline: none;
}

.go {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 1.5rem;
    background-color: #e4e4e4;
    font-size: 1.05rem;
    animation: transform 0.2 ease-in-out;
    cursor: pointer;
    outline: none;
}

.go:hover {
    transform: scale(1.1);
}

#filter .individual__filter {
    width: 100%;
    padding: 1rem 0;
    font-size: 1.05rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-style: italic;
    display: flex;

}

label {
    width: 30%;
}

input {
    width: 70%;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: #E9E9E9;
    border: 1px solid #CECECE;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

#reset {
    width: 8rem;
    height: 2.5rem;
    font-size: 1.05rem;
    font-style: italic;
    background-color: #e4e4e4;
    cursor: pointer;
    animation: transform 0.2 ease-in-out;
}

#reset:hover {
    transform: scale(1.1);
}

#qrcode {
    width: 500px;
    height: 500px;
    margin-top: 50px;
}
