<section class="about_us section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-5">
                <div class="about_us_text">
                    <h2>Generate anywhere use anytime</h2>
                    <p>Being web in nature, easily supported in dektop, mobile or any other device. Also supports API integration to your platform. Use custome client with developer friendly APIs.</p>
                    <a href="/editor" class="btn_1">get started</a>
                    <!-- <a href="#" class="btn_2">sing up free</a> -->
                    <a href="mailto:mail@anirudha.dev" class="btn_2">contact us</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="learning_img">
                    <img src="img/about_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <img src="img/left_sharp.png" alt="" class="left_shape_1">
    <img src="img/about_shape.png" alt="" class="about_shape_1">
    <img src="img/animate_icon/Shape-16.png" alt="" class="feature_icon_1">
</section>
