<section class="cta_part section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="cta_text text-center">
                    <h2>Very useful Friendly</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo</p>
                    <a href="#" class="btn_2 banner_btn_1">Get Started </a>
                    <a href="#" class="btn_2 banner_btn_2">Sign up for free </a>
                </div>
            </div>
        </div>
    </div>
</section>
