<section class="pricing_part mb_130 home_page_pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_tittle text-center">
                    <h2>Simple Pricing</h2>
                    <p>The simplest pricing is often... no pricing!</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- <div class="col-lg-3 col-sm-6">
                <div class="single_pricing_part">
                    <img src="img/icon/feature_icon_1.png" alt="">
                    <p>business</p>
                    <h3>$50.00 <span>/ mo</span></h3>
                    <ul>
                        <li>2GB Bandwidth</li>
                        <li>Two Account</li>
                        <li>15GB Storage</li>
                        <li>Sale After Service</li>
                        <li>3 Host Domain</li>
                        <li>24/7 Support</li>
                    </ul>
                    <a href="#" class="btn_1">Choose Plane</a>
                </div>
            </div> -->
            <!-- <div class="col-lg-3 col-sm-6">
                <div class="single_pricing_part">
                    <img src="img/icon/feature_icon_2.png" alt="">
                    <p>business</p>
                    <h3>$60.00 <span>/ mo</span></h3>
                    <ul>
                        <li>2GB Bandwidth</li>
                        <li>Two Account</li>
                        <li>15GB Storage</li>
                        <li>Sale After Service</li>
                        <li>3 Host Domain</li>
                        <li>24/7 Support</li>
                    </ul>
                    <a href="#" class="btn_1">Choose Plane</a>
                </div>
            </div> -->
            <!-- <div class="col-lg-3 col-sm-6">
                <div class="single_pricing_part">
                    <img src="img/icon/feature_icon_3.png" alt="">
                    <p>business</p>
                    <h3>$80.00 <span>/ mo</span></h3>
                    <ul>
                        <li>2GB Bandwidth</li>
                        <li>Two Account</li>
                        <li>15GB Storage</li>
                        <li>Sale After Service</li>
                        <li>3 Host Domain</li>
                        <li>24/7 Support</li>
                    </ul>
                    <a href="#" class="btn_1">Choose Plane</a>
                </div>
            </div> -->
        </div>
    </div>
    <img src="img/left_sharp.png" alt="" class="left_shape_1">
    <img src="img/animate_icon/Shape-1.png" alt="" class="feature_icon_1">
    <img src="img/animate_icon/shape.png" alt="" class="feature_icon_4">
</section>
