<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" />
<link rel="stylesheet" href="css/random.css">

<section class="section_padding">
    <div class='random-container'>
        <div class='wrapper animated bounceInLeft'>
            <div class='contact'>
                <h3>Random String Generator</h3>
                <form>
                    <p>
                        <label>String Length</label>
                        <input type="number" name='length' min="0" class="form-field" id="length">
                    </p>

                    <p>
                        <label>Number of Strings</label>
                        <input type="number" name='count' min="0" class="form-field" id="count">
                    </p>

                    <p>
                        <label>Prefix</label>
                        <input type="text" name='prefix' class="form-field" id="prefix">
                    </p>

                    <p>
                        <label>Suffix</label>
                        <input type="text" name='suffix' class="form-field" id="suffix">
                    </p>

                    <!-- <p class='full'>
                        <label>Message</label>
                        <textarea name="message" rows="5"></textarea>
                    </p> -->

                    <p class='full'>
                        <button type="button" id="btn-generate">Generate</button>
                    </p>
                </form>
            </div>
            <div class='form-info'>
                <h3>Result</h3>

                <textarea name="result-text" id="result-text" rows="15" disabled></textarea>

                <div id="export-container" class="hide">
                    <p class='full'>
                        <button type="button" id="btn-download-csv">Export as CSV file</button>
                    </p>

                    <!-- <p class='full'>
                        <button type="button">Export as Excel file</button>
                    </p> -->
                </div>

            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="js/random.js"></script>
