<section class="use_sasu">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2>Who can use Sasu?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Quis ipsum suspendisse ultrices </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <img src="img/icon/feature_icon_1.png" alt="">
                        <h4>A Volunteer</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <img src="img/icon/feature_icon_2.png" alt="">
                        <h4>A Volunteer</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <img src="img/icon/feature_icon_3.png" alt="">
                        <h4>A Volunteer</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="img/animate_icon/Shape-14.png" alt="" class="feature_icon_1">
    <img src="img/animate_icon/Shape-10.png" alt="" class="feature_icon_2">
    <img src="img/animate_icon/Shape.png" alt="" class="feature_icon_3">
    <img src="img/animate_icon/shape-13.png" alt="" class="feature_icon_4">
</section>
