<!doctype html>
<html lang="en">

<head>
    <% include ./partials/head_meta %>
    <title>QR Gen - <%= title %></title>
    <% include ./partials/head_includes %>
</head>

<body>
    <% include ./partials/menu %>
    <%-body -%>
    <% include ./partials/footer %>
    <% include ./partials/footer_includes %>

</body>

</html>
